In [18]:
import pandas as pd
import os
print(os.getcwd())  # 현재 작업 경로 출력

f:\For me\Project\24-OIBC-WolgoksTears\personal_files\hoon

actual_weather_1

In [34]:
# 데이터 불러오기
actual_weather_1 = pd.read_csv("../../data_files/actual_weather_1.csv")

# 'ts'를 datetime 형식으로 변환 후 1시간 단위로 맞추기
actual_weather_1['datetime'] = pd.to_datetime(actual_weather_1['ts'], unit='s')
actual_weather_1['datetime'] = actual_weather_1['datetime'].dt.floor('h')

# 1시간 단위로 그룹화하여 평균을 계산 (location을 제외한 모든 열)
actual_weather_1 = actual_weather_1.groupby(['datetime', 'location'], as_index=False).mean()

# 원래 'ts' 열 제거
actual_weather_1.drop(columns=['ts'], inplace=True)

# weather_forecast에 없는 columns 제거
actual_weather_1.drop(columns=['real_feel_temp_shade'], inplace=True)
actual_weather_1.drop(columns=['pressure'], inplace=True)
actual_weather_1.drop(columns=['appr_temp'], inplace=True)
actual_weather_1.drop(columns=['wind_chill_temp'], inplace=True)
 
# 결과 확인
actual_weather_1.tail()

,datetime,location,temp,real_feel_temp,rel_hum,dew_point,wind_dir,wind_spd,wind_gust_spd,uv_idx,vis,cld_cvr,ceiling,wet_bulb_temp,precip_1h
48413,2024-11-02 01:00:00,Cheonji-dong,19.5,19.1,93.0,18.3,68.0,1.9,7.0,1.0,3.2,80.0,549.0,18.8,3.1
48414,2024-11-02 01:00:00,Geumak-ri,18.5,16.6,80.0,15.0,68.0,21.1,29.8,1.0,20.9,93.0,4389.0,16.4,0.0
48415,2024-11-02 01:00:00,Gwangryeong-ri,20.5,20.0,80.0,17.1,23.0,8.3,31.1,1.0,19.3,95.0,549.0,18.4,0.1
48416,2024-11-02 01:00:00,Hacheon-ri,20.4,17.3,86.0,17.9,45.0,19.8,19.8,1.0,24.1,97.0,3109.0,18.8,3.8
48417,2024-11-02 01:00:00,Songdang-ri,19.2,16.8,90.0,17.6,315.0,11.5,18.1,1.0,22.5,94.0,549.0,18.2,3.3

weather_forecast

In [35]:
# 데이터 불러오기
weather_forecast_1 = pd.read_csv("../../data_files/weather_forecast_1.csv")

# 'ts'를 datetime 형식으로 변환 후 1시간 단위로 맞추기
weather_forecast_1['datetime'] = pd.to_datetime(weather_forecast_1['ts'], unit='s')
weather_forecast_1['datetime'] = weather_forecast_1['datetime'].dt.floor('h')

# 1시간 단위로 그룹화하여 평균을 계산 (location을 제외한 모든 열)
weather_forecast_1 = weather_forecast_1.groupby(['datetime', 'location'], as_index=False).mean()

# 원래 'ts' 열 제거, 'base_ts' 열 제거
weather_forecast_1.drop(columns=['ts'], inplace=True)
weather_forecast_1.drop(columns=['base_ts'], inplace=True)  

# 예보 데이터의 columns 순서를 actual_weather columns 순서와 맞추기
weather_forecast_1 = weather_forecast_1[['datetime', 'location', 'temp', 'real_feel_temp', 'rel_hum',
       'dew_point', 'wind_dir', 'wind_spd', 'wind_gust_spd', 'uv_idx', 'vis',
       'cld_cvr', 'ceiling', 'wet_bulb_temp', 'total_liq']]
weather_forecast_1['precip_1h'] = weather_forecast_1['total_liq']
weather_forecast_1.drop(columns=['total_liq'], inplace=True)  

# 결과 확인
weather_forecast_1.tail()

,datetime,location,temp,real_feel_temp,rel_hum,dew_point,wind_dir,wind_spd,wind_gust_spd,uv_idx,vis,cld_cvr,ceiling,wet_bulb_temp,precip_1h
53356,2024-11-03 15:00:00,Hacheon-ri,16.6667,15.5556,82.0,13.8889,296.0,11.1045,25.9104,0.0,16.0934,56.0,9144.0,15.0000,0.0
53357,2024-11-03 15:00:00,Ilgwa-ri,15.0000,13.3333,93.0,13.8889,332.0,13.0357,33.3134,0.0,16.0934,57.0,9144.0,14.4444,0.0
53358,2024-11-03 15:00:00,Sangmo-ri,16.6667,15.0000,84.0,13.8889,330.0,13.0357,33.3134,0.0,16.0934,64.0,9144.0,15.0000,0.0
53359,2024-11-03 15:00:00,Songdang-ri,15.0000,13.3333,86.0,12.7778,290.0,11.1045,27.8417,0.0,16.0934,52.0,9144.0,13.8889,0.0
53360,2024-11-03 15:00:00,Yongsu-ri,17.2222,15.5556,84.0,14.4444,326.0,13.0357,33.3134,0.0,16.0934,41.0,9144.0,15.5556,0.0

elec_supply

In [40]:
# 데이터 불러오기
elec_supply = pd.read_csv("../../data_files/elec_supply.csv")

# 'ts'를 datetime 형식으로 변환 후 1시간 단위로 맞추기
elec_supply['datetime'] = pd.to_datetime(elec_supply['ts'], unit='s')
elec_supply['datetime'] = elec_supply['datetime'].dt.floor('h')

# 1시간 단위로 그룹화하여 평균을 계산
elec_supply = elec_supply.groupby(['datetime'], as_index=False).mean()

# 결과 확인
elec_supply.drop(columns=['ts'], inplace=True)  # 원래 'ts' 열 제거
elec_supply.tail()

,datetime,공급능력(kW),현재 수요(kW),태양광 발전량kW),풍력 발전량(kW),신재생 발전량 총합(kW),공급 예비력(kW),운영 예비력(kW)
7309,2024-11-01 21:00:00,1.326500e+06,529500.0,0.000000,254460.500000,254476.250000,795333.333333,446833.333333
7310,2024-11-01 22:00:00,1.318000e+06,560000.0,634.660000,243504.916667,244291.666667,756333.333333,451416.666667
7311,2024-11-01 23:00:00,1.309917e+06,589250.0,13804.987500,223499.916667,237304.916667,717083.333333,416666.666667
7312,2024-11-02 00:00:00,1.310583e+06,607250.0,46402.433333,190613.916667,237016.333333,698750.000000,398833.333333
7313,2024-11-02 01:00:00,1.301875e+06,622750.0,75548.625000,153728.250000,229277.000000,674125.000000,373875.000000

smp_da

In [41]:
# 데이터 불러오기
smp_da = pd.read_csv("../../data_files/smp_da.csv")

# 'ts'를 datetime 형식으로 변환 후 1시간 단위로 맞추기
smp_da['datetime'] = pd.to_datetime(smp_da['ts'], unit='s')

# 결과 확인
smp_da.drop(columns=['ts'], inplace=True)  # 원래 'ts' 열 제거
smp_da.tail()

      하루전가격(원/kWh)            datetime
5900        107.08 2024-11-01 11:00:00
5901        103.42 2024-11-01 12:00:00
5902        103.42 2024-11-01 13:00:00
5903        103.42 2024-11-01 14:00:00
5904        103.42 2024-11-01 15:00:00

smp_rt_rc

In [43]:
# 데이터 불러오기
smp_rt_rc = pd.read_csv("../../data_files/smp_rt_rc.csv")

# 'ts'를 datetime 형식으로 변환 후 1시간 단위로 맞추기
smp_rt_rc['datetime'] = pd.to_datetime(smp_rt_rc['ts'], unit='s')
smp_rt_rc['datetime'] = smp_rt_rc['datetime'].dt.floor('h')

# 1시간 단위로 그룹화하여 평균을 계산
smp_rt_rc = smp_rt_rc.groupby(['datetime'], as_index=False).mean()

# 결과 확인
smp_rt_rc.drop(columns=['ts'], inplace=True)  # 원래 'ts' 열 제거
smp_rt_rc.tail()

                datetime  실시간 임시 가격(원/kWh)  실시간 확정 가격(원/kWh)
5853 2024-10-31 11:00:00          131.9775          131.9775
5854 2024-10-31 12:00:00          132.4000          132.4000
5855 2024-10-31 13:00:00          112.0825          112.0825
5856 2024-10-31 14:00:00          105.1400          105.1400
5857 2024-10-31 15:00:00          105.1400          105.1400